header { 
    padding: 30px 800px;
      width: 50%;
      color: rgb(95, 248, 253);
 }
 
 body {
    background-image: url('img.jpg');
    background-size: cover;
    background-repeat:no-repeat;
 }
 
 #mon_index {
    font-size: 200%;
    text-align: left;
 }
 
 table,
 tbody {
     border: 6px solid rgb(41, 226, 233);
     border-style: inset;
     padding: 250px 350px;
     border-radius: 8px; 
 }
 
 div.custom {
     color: rgb(248, 248, 248);
     font-size: 150%;
 }
 
 button {
   background-color:black;
   border-radius: 8px; 
   color:white; 
   border-color:rgb(41, 226, 233);
   height: 4ch;
   width: 19ch;
 }
 
 table {
    width: 100%;
    text-align: right;
 }
 
 #rafraichir {
    position: absolute;
    left: 70%;
    bottom:28%;
 }
 
 #deconnexion {
    position: absolute;
    left: 20%;
    bottom:28%;
 }
 
 #tst {
    position:absolute;
    top:10%;
 }
 
 #tst1 {
    position:absolute;
    top:10%;
    left:50%;
 }
 
 #tst2 {
    position:absolute;
    top:10%;
    left:80%;
 }